
@{
    ViewBag.Title = "YeniOgrenci";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2><b>ÖĞRENCİ EKLEME SAYFASI</b></h2>
<br />
<br />
<br />
<form method="post" class="form-group">
    <div style="margin-top:10px">
        <label>Öğrenci Adı</label>
        <input type="text" class="form-control" name="OGRAD" />
    </div>
    <div style="margin-top:10px">
        <label>Öğrenci Soyadı</label>
        <input type="text" class="form-control" name="OGRSOYAD" />
    </div>
    <div style="margin-top:10px">
        <label>Öğrenci Fotoğraf</label>
        <input type="text" class="form-control" name="OGRFOTO" />
    </div>
    <div style="margin-top:10px">
        <label>Öğrenci Cinsiyet</label>
        <input type="text" class="form-control" name="OGRCINSIYET" />
    </div>
    <div style="margin-top:10px">
        <label>Öğrenci Kulüp</label>
        <input type="text" class="form-control" name="OGRKULUP" />
    </div>
   
    <div style="margin-top:10px">
        <label>Şehir Seçimi</label>
        @Html.DropDownList("Şehirler",
     new[]
     {
         new SelectListItem() {Value="1",Text="Ankara"},
         new SelectListItem() {Value="2",Text="Bursa"},
         new SelectListItem() {Value="3",Text="İstanbul"},
         new SelectListItem() {Value="4",Text="İzmir"}
     }, "Şehir seçiniz..", new { @class = "form-control" })
    </div>
     <div style="margin-top:10px">
         <fieldset>
             Film Seçin <select id="MovieType" name="MovieType">
             <option value="0">Aksiyon</option>
             <option value="1">Dram</option>
             <option value="2">Komedi</option>
             <option value="3">Bilim Kurgu</option>
             <option value="4">Animasyon</option>
             </select>
             <p>
                 <input type="submit" value="Submit" />
             </p>
         </fieldset>
     </div>
    <br />
    <button class="btn btn-primary">Öğrenci Ekle</button>
</form>