@using MVCSchool.Models.EntityFramework
@model List<TBLKULUPLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2><b>ÖĞRENCİ KULÜP BİLGİLERİ</b></h2>
<br />
<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>KULÜP ID</th>
        <th>KULÜP ADI</th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.KULUPID</td>
                <td>@item.KULUPAD</td>
            </tr>
        }
    </tbody>
</table>
<a href="/Kulup/YeniKulup" class="btn btn-primary">Yeni Kulüp Kaydı</a>


